/* Start of CMSMS style sheet 'Default CSSMenu Horizontal' */
/* Horizontal menu for the CMS CSS Menu Module */
/* by Alexander Endresen */


/* The wrapper clears the floating elements of the menu */

#menuwrapper {
        overflow: hidden;
		float: left;
        background-color: #ECECEC;
        border-bottom: 1px solid #C0C0C0;
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ECECEC),color-stop(1,#B7B7B7));
		background-image: -moz-linear-gradient(top,#ECECEC,#B7B7B7);
        width: 960px;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
        }

/* Set the width of the menu elements at second level. Leaving first level flexible. */

#primary-nav li li {
        width: 200px;
       }


/* Unless you know what you do, do not touch this */

#primary-nav, #primary-nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    }
#primary-nav ul {
    position: absolute;
    top: auto;
    display: none;
        z-index: 1000;
    }
#primary-nav ul ul {
    margin-top: 1px;
    margin-left: -1px;
    left: 100%;
    top: 0px;
    }

#primary-nav li {
    margin-left: -1px;
    float: left;
    }
#primary-nav li li {
    margin-left: 0px;
    margin-top: -1px;
    float: none;
    position: relative;
    }

/* Styling the basic apperance of the menu elements */

#primary-nav a {
    display: block;
    margin: 0px;
    padding: 5px 7px;
    text-decoration: none;
    }
#primary-nav li a {
    border-right: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    }
#primary-nav li li a {
    border: 1px solid #8A8A8A;
    }

#primary-nav li ul li{
	background-color: #FBFBFB;
}
#primary-nav li.menuparent a span {
	text-shadow: 0 -1px 0 #ECECEC;
    }

#primary-nav li.menuparent ul li a span{
	text-shadow: none;
}


/* Styling the basic apperance of the active page elements (shows what page in the menu is being displayed) */

#primary-nav li.menuactive {
    background-color: #ECECEC;
    }


/* Styling the basic apperance of the menuparents - here styled the same on hover (fixes IE bug) */

#primary-nav ul li.menuparent, #primary-nav ul li.menuparent:hover, #primary-nav ul li.menuparenth {
    background-image: url(modules/MenuManager/images/arrow.gif);
    background-position: center right;
    background-repeat: no-repeat;
    }


/* Styling the apperance of menu items on hover */

#primary-nav li:hover, #primary-nav li.menuh, #primary-nav li.menuparenth, #primary-nav li.menuactiveh {
    background-color: #F7E718;
	text-shadow: none;
    }


/* The magic - set to work for up to a 3 level menu, but can be increased unlimited */

#primary-nav ul, #primary-nav li:hover ul, #primary-nav li:hover ul ul,
#primary-nav li.menuparenth ul, #primary-nav li.menuparenth ul ul {
    display: none;
    }
#primary-nav li:hover ul, #primary-nav ul li:hover ul, #primary-nav ul ul li:hover ul,
#primary-nav li.menuparenth ul, #primary-nav ul li.menuparenth ul, #primary-nav ul ul li.menuparenth ul {
    display: block;
    }


/* IE Hacks */

#primary-nav li li {
    float: left;
    clear: both;
    }
#primary-nav li li a {
    height: 1%;
    }
-->
/* End of 'Default CSSMenu Horizontal' */

