/* Start of CMSMS style sheet 'Colours' */
/* Layout sections */
    body {
        background-color: #73a0b8;
        color: #333;
        }

    div#pagewrapper {
        
    }
	div#container{
		background-color: #fff;
	}
    div#header {
        color: #fff;
        }

    div#footer {
        color: #fff;


        }

/* Links */
    a,
    a:link
    a:active, a:visited {
        color: #385C72;
    }

/* Headings */
    h1, h2, h3, h4, h5, h6 {
        color: #000;
    }
/* End of 'Colours' */

